[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/udis
[access "refs/for/refs/*"]
	read = group user/udis
	push = group user/udis
	label-Code-Review = -2..+2 group user/udis
	label-Verified = -1..+1 group user/udis
	rebase = group user/udis
	removeReviewer = group user/udis
	submit = group user/udis
[access "refs/heads/*"]
	read = group user/udis
	create = group user/udis
	push = +force group user/udis
	pushMerge = group user/udis
[access "refs/tags/*"]
	push = group user/udis
	push = +force group user/udis
